<div class="row">
  <div class="offset4 span4">
  <h2>Войти</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div><%= f.label :email %>
      <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div><%= f.submit "Войти", class:'btn' %></div>
    <% end %>
  </div>
</div>




