<%= form_for(@place, :html => {:multipart => true}) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Название" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id, "Категория" %>
    <%= f.select :category_id, (@categories.map {|c| [c.name, c.id] }) %>
  </div>
  <div class="field">
    <%= f.label :description, "Описание" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :discount, "Скидка" %>
    <%= f.number_field :discount %>
  </div>
  <div class="field">
    <%= f.label :discount_description, "Описание скидки" %>
    <%= f.text_area :discount_description %>
  </div>
  <div class="field">
    <%= f.label :city_id, "Город" %>
    <%= f.select :city_id, (@cities.map {|c| [c.name, c.id] }) %>
  </div>
  <div class="field">
    <%= f.label :address, "Адрес" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", class: 'btn' %>
  </div>
<% end %>

