<h1>Список заведений</h1>
<%= link_to 'Добавить заведение', new_place_path, class: 'btn pull-right' %>
<div class="row-fluid">
  <div class="span9">
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Название</th>
        <th>Адрес</th>
        <th>Тип заведения</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= link_to place.title, place %></td>
          <td><%= "#{place.city.name}, #{place.address}" %></td>
          <td><%= place.category.name %></td>
          <td><%= link_to 'Редактировать', edit_place_path(place) %></td>
          <td><%= link_to 'Удалить', place, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
