<div class="row-fluid">
  <div class="span5">
    <h3>Добавить изображение</h3>
    <%= form_for Picture.new, :html => {:multipart => true} do |f| %>
        <%= f.hidden_field :place_id, value: @place.id %>
        <%= f.file_field :image %>
        <%= f.submit "Сохранить", class:'btn' %> 
    <% end %>
    <% @place.pictures.each do |picture| %>
      <%= image_tag picture.image, class: "img-polaroid" %>
      <%= link_to 'Удалить', picture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <br/>
      <br/>
    <% end %>
  </div>
  <div class="span1"></div>
  <div class="span6">
    <span class="label label-success pull-right"><%= @place.category.name%></span>
    <div class="row">
      <div class="span6"><%= image_tag @place.avatar, class: "img-polaroid" %></div>
      <div class="span6"><h2 class='text-center'><%= @place.title %></h2></div>
    </div>
    <h4><%= @place.city.name %>, <%= @place.address %></h4>
    <hr>
    <p><%= @place.description %></p>
    <p>Скидка: <strong><%= @place.discount %>%</strong></p>
    <p><%= @place.discount_description %></p>
    <hr>
    <%= link_to 'Редактировать', edit_place_path(@place) %> |
    <%= link_to 'Назад', places_path %>
  </div>
</div>


